<!doctype html>
<html>

<!-- npx tailwindcss -i ./src/style.css -o ./dist/output.css --watch  -->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>School of the Wolf</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <link href="/dist/output.css" rel="stylesheet">
</head>

<body>
  <nav class="p-[30px]">
    <div class="flex justify-center items-center box-border w-full">
      <img class="w-[200px] mr-[20px]" src="/assets/logo.png" alt="">

      <div>
        <img src="/assets/divider.svg">
        <ul class="flex list-disc space-x-8 uppercase font-roboto font-bold text-red-800">
          <li class="list-none">
            <a href="#signs">Signs</a>
          </li>
          <li>
            <a href="#about-us">About us</a>
          </li>
          <li>
            <a href="#bestiary">Bestiary</a>
          </li>
          <li>
            <a href="#alchemy">Alchemy</a>
          </li>
          <li>
            <a href="#trainings">Trainings</a>
          </li>
          <li>
            <a href="#organisers">Organisers</a>
          </li>
          <li>
            <a href="#recommendation">Recommendation</a>
          </li>
        </ul>
        <img class="rotate-180" src="/assets/divider.svg">
      </div>
    </div>
  </nav>

  <section>
    <img class="w-full h-[400px] shadow-xl object-cover" src="/assets/witcher.jpg" alt="">
  </section>

  <section>
    <div class="flex flex-col items-center py-10">
      <img class="w-[600px] px-10 object-cover" src="/assets/divider.svg">
        <h1 class="py-2 text-4xl uppercase font-roboto text-red-800">Background</h1>
      <img class="w-[600px] px-10 object-cover rotate-180" src="/assets/divider.svg">
    </div>

    <div class="flex flex-col items-center font-roboto">

      <p class="w-[1000px] text-justify pb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore facilis doloremque eaque animi nesciunt temporibus deleniti qui, similique doloribus suscipit culpa voluptates corrupti amet quibusdam et quisquam quos aliquam dolor.
        Minima molestias perspiciatis fugit iusto laboriosam hic magnam et? Eos cumque nulla dignissimos voluptatem numquam molestiae id possimus pariatur repellendus quibusdam asperiores, voluptate sapiente, ducimus quo rem quidem ab consequuntur!
        Excepturi officia nobis tempore tenetur? Deleniti obcaecati et delectus velit enim iure, earum suscipit tenetur aliquam beatae, corporis magnam quasi assumenda. Facilis aut id error cum fugiat unde quis hic.
      </p>

      <p class="w-[1000px] text-justify pb-4">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad dicta consequatur quaerat repellat sint, eligendi dolor minus animi vero saepe aspernatur maiores eius quod ea ipsa explicabo in illum. Fugiat?
        Voluptas officia amet est dicta maxime nisi quaerat sed minus reprehenderit officiis provident recusandae saepe labore aliquid voluptatem modi, ab, atque quia. In, sapiente excepturi! Placeat laudantium exercitationem optio a.
        Error cum magnam reprehenderit accusamus sit.
      </p>

      <p class="w-[1000px] text-justify pb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus perspiciatis laborum explicabo! Quis ipsum doloremque ad saepe, ea sunt minima quia repellendus quisquam inventore dignissimos, tempore consequatur? Velit, nostrum eligendi!
      </p>

      <img class="w-[30px] pt-10 pb-10" src="/assets/chevron-down.svg">
    </div>
  </section>

  <section class="bg-gray-200">
    <div class="flex flex-col items-center py-10">
      <img class="w-[600px] px-10 object-cover" src="/assets/divider.svg">
        <h1 class="py-2 text-4xl uppercase font-roboto text-red-800">Signs</h1>
      <img class="w-[600px] px-10 object-cover rotate-180" src="/assets/divider.svg">
    </div>

    <div class="w-full flex flex-col justify-center items-center">
      <div class="flex flex-row">

        <div class="p-5 m-2 box-border border-2 border-solid border-red-800 border-opacity-70">
          <img class="w-[200px] shadow-2xl" src="/assets/aard_format.jpg">
        </div>

        <div class="p-5 m-2">
          <h3>
            Aard
          </h3>
          <p class="w-[200px]">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel dolorum nisi impedit illo aliquam repudiandae commod.
          </p>
          <img class="w-[20px]" src="/assets/chevron-down.svg">
        </div>

        <div class="p-5 m-2 box-border border-2 border-solid border-red-800 border-opacity-70">
          <img class="w-[200px]" src="/assets/igni_format.jpg">
        </div>

        <div class="p-5 m-2">
          <h3>
            Igni
          </h3>
          <p class="w-[200px]">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel dolorum nisi impedit illo aliquam repudiandae commod.
          </p>
          <img class="w-[20px]" src="/assets/chevron-down.svg">
        </div>
      </div>

      <div class="flex flex-row-reverse">

        <div class="p-5 m-2 box-border border-2 border-solid border-red-800 border-opacity-70">
          <img class="w-[200px]" src="/assets/axii_format.jpg">
        </div>

        <div class="p-5 m-2">
          <h3>
            Axii
          </h3>
          <p class="w-[200px]">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel dolorum nisi impedit illo aliquam repudiandae commod.
          </p>
          <img class="w-[20px]" src="/assets/chevron-down.svg">
        </div>

        <div class="p-5 m-2 box-border border-2 border-solid border-red-800 border-opacity-70">
          <img class="w-[200px]" src="/assets/quen_format.jpg">
        </div>

        <div class="p-5 m-2">
          <h3>
            Quen
          </h3>
          <p class="w-[200px]">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel dolorum nisi impedit illo aliquam repudiandae commod.
          </p>
          <img class="w-[20px]" src="/assets/chevron-down.svg">
        </div>
      </div>

      <img class="w-[30px] py-14" src="/assets/chevron-down.svg">
    </div>
  </section>

  <section>
    <div class="flex flex-col items-center py-10">
      <img class="w-[600px] px-10 object-cover" src="/assets/divider.svg">
        <h1 class="py-2 text-4xl uppercase font-roboto text-red-800">About us</h1>
      <img class="w-[600px] px-10 object-cover rotate-180" src="/assets/divider.svg">
    </div>

    <div class="flex flex-col items-center">

      <div class="flex flex-row">
        <div class="w-[150px] text-right pr-2">
          Our goal:
        </div>
        <div class="w-[700px]">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero soluta architecto dolor aperiam delectus possimus molestiae accusamus ut obcaecati odio, repellendus molestias fugit eum necessitatibus tempora libero numquam? Molestiae, id?
        </div>
      </div>

      <div class="flex flex-row">
        <div class="w-[150px] text-right pr-2">
          Target group:
        </div>
        <div class="w-[700px]">
          Lorem, ipsum, dolort
        </div>
      </div>

      <div class="flex flex-row">
        <div class="w-[150px] text-right pr-2">
          Training scope:
        </div>
        <div class="w-[700px]">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum velit quibusdam perspiciatis, sapiente maiores, minus necessitatibus autem saepe nihil ipsum architecto omnis amet quis veniam fugit dolorum consequatur doloremque exercitationem.
        </div>
      </div>

      <div class="flex flex-row">
        <div class="w-[150px] text-right pr-2">
          Leaders:
        </div>
        <div class="w-[700px]">
          Vesemir, Geralt, Lambert, Eskel
        </div>
      </div>

      <div class="flex flex-row">
        <div class="w-[150px] text-right pr-2">
          Address:
        </div>
        <div class="w-[700px]">
          Kaer Morhen, Morhen Valley, Kaedwen
        </div>
      </div>
      <img class="w-[50px] pt-10 pb-10" src="/assets/logo.png" alt="">
    </div>

    <div class="h-[3px] bg-red-900"></div>
    <div class="h-[10px] bg-red-800 mt-1 mb-10"></div>
  </section>

  <section>
    <div class="flex flex-col items-center pt-[20px] pb-[20px]">
      <img class="w-[600px] pl-[40px] pr-[40px] object-cover" src="/assets/divider.svg">
        <h1 class="py-2 text-4xl uppercase font-roboto text-red-800">Bestiary</h1>
      <img class="w-[600px] pl-[40px] pr-[40px] object-cover rotate-180" src="/assets/divider.svg">
    </div>

    <div class="grid grid-cols-3 gap-4 pb-10 px-10 max-w-[1200px] mx-auto">

      <div class="relative w-full h-full bg-no-repeat bg-cover shadow-2xl pt-[100%]" 
           style="background-image: url('/assets/chort.png');">
        <div class="bg-red-rgba opacity-0 absolute w-full h-full flex flex-col top-0 justify-center items-center transition-all hover:opacity-100">
            <div class="w-full text-2xl text-center font-bold text-white pb-4">Chort</div>
            <img class="w-1/6" src="/assets/chevron-down-white.svg">
        </div>
      </div>

      <div class="relative w-full h-full bg-no-repeat bg-cover shadow-2xl pt-[100%]" 
           style="background-image: url('/assets/fiend.png');">
        <div class="bg-red-rgba opacity-0 absolute w-full h-full flex flex-col top-0 justify-center items-center transition-all hover:opacity-100">
            <div class="w-full text-2xl text-center font-bold text-white pb-4">Fiend</div>
            <img class="w-1/6" src="/assets/chevron-down-white.svg">
        </div>
      </div>

      <div class="relative w-full h-full bg-no-repeat bg-cover shadow-2xl pt-[100%]" 
           style="background-image: url('/assets/katakan.png');">
        <div class="bg-red-rgba opacity-0 absolute w-full h-full flex flex-col top-0 justify-center items-center transition-all hover:opacity-100">
            <div class="w-full text-2xl text-center font-bold text-white pb-4">Katakan</div>
            <img class="w-1/6" src="/assets/chevron-down-white.svg">
        </div>
      </div>

      <div class="relative w-full h-full bg-no-repeat bg-cover shadow-2xl pt-[100%]" 
           style="background-image: url('/assets/golem.png');">
        <div class="bg-red-rgba opacity-0 absolute w-full h-full flex flex-col top-0 justify-center items-center transition-all hover:opacity-100">
            <div class="w-full text-2xl text-center font-bold text-white pb-4">Golem</div>
            <img class="w-1/6" src="/assets/chevron-down-white.svg">
        </div>
      </div>
    
      <div class="relative w-full h-full bg-no-repeat bg-cover shadow-2xl pt-[100%]" 
           style="background-image: url('/assets/leshen.png');">
        <div class="bg-red-rgba opacity-0 absolute w-full h-full flex flex-col top-0 justify-center items-center transition-all hover:opacity-100">
            <div class="w-full text-2xl text-center font-bold text-white pb-4">Leshen</div>
            <img class="w-1/6" src="/assets/chevron-down-white.svg">
        </div>
      </div>
    
      <div class="relative w-full h-full bg-no-repeat bg-cover shadow-2xl pt-[100%]" 
           style="background-image: url('/assets/wyvern.png');">
        <div class="bg-red-rgba opacity-0 absolute w-full h-full flex flex-col top-0 justify-center items-center transition-all hover:opacity-100">
            <div class="w-full text-2xl text-center font-bold text-white pb-4">Wyvern</div>
            <img class="w-1/6" src="/assets/chevron-down-white.svg">
        </div>
      </div>
    </div>
  </section>

  <section class="relative h-[400px]">
    <div class="absolute opacity-50 top-0 left-0 h-full w-full">
      <img class="w-full h-[400px] object-cover" src="/assets/alchemy-bg.jpg" alt="">
    </div>

    <div class="absolute top-0 left-0 w-full h-full pt-10">
      <div class="flex flex-col items-center pt-[20px] pb-[40px]">
        <img class="w-[600px] pl-[40px] pr-[40px] object-cover" src="/assets/divider.svg">
        <h1 class="py-2 text-4xl uppercase font-roboto">Alchemy</h1>
        <img class="w-[600px] pl-[40px] pr-[40px] object-cover rotate-180" src="/assets/divider.svg">
      </div>

      <div class="flex max-w-[1200px] mx-auto justify-center">
        <div class="flex flex-col items-center mx-4 px-8 max-h-[160px] max-w-[160px]">
          <img src="/assets/potion.png" alt="">
          <p class="font-bold pt-2 text-xl">Potions</p>
        </div>
        <div class="flex flex-col items-center mx-4 px-8 max-h-[160px] max-w-[160px]">
          <img src="/assets/oil.png" alt="">
          <p class="font-bold pt-2 text-xl">Oils</p>
        </div>
        <div class="flex flex-col items-center mx-4 px-8 max-h-[160px] max-w-[160px]">
          <img src="/assets/decoction.png" alt="">
          <p class="font-bold pt-2 text-xl">Decoctions</p>
        </div>
        <div class="flex flex-col items-center mx-4 px-8 max-h-[160px] max-w-[160px]">
          <img src="/assets/bomb.png" alt="">
          <p class="font-bold pt-2 text-xl">Bombs</p>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-gray-200 mt-10">
    <div class="flex flex-col items-center pt-10 pb-10">
      <img class="w-[600px] px-10 object-cover" src="/assets/divider.svg">
        <h1 class="py-2 text-4xl uppercase font-roboto text-red-800">Trainings</h1>
      <img class="w-[600px] px-10 object-cover rotate-180" src="/assets/divider.svg">
    </div>

    <div class="grid grid-cols-3 grid-rows-3 pb-[40px] max-w-[800px] mx-auto px-4">
      <div class="p-[20px] relative flex items-center box-border">
        <img class="w-[20px] absolute top-[-10px] left-[-10px]" src="/assets/plus.svg" alt="">
        <img class="w-[20px] absolute top-[-10px] right-[-10px]" src="/assets/plus.svg" alt="">
        <img class="w-[20px] absolute bottom-[-10px] left-[-10px]" src="/assets/plus.svg" alt="">
        <img class="w-[20px] absolute bottom-[-10px] right-[-10px]" src="/assets/plus.svg" alt="">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      </div>
      <div class="p-[20px] relative flex items-center box-border">
        <img class="w-[20px] absolute top-[-10px] left-[-10px]" src="/assets/plus.svg" alt="">
        <img class="w-[20px] absolute top-[-10px] right-[-10px]" src="/assets/plus.svg" alt="">
        <img class="w-[20px] absolute bottom-[-10px] left-[-10px]" src="/assets/plus.svg" alt="">
        <img class="w-[20px] absolute bottom-[-10px] right-[-10px]" src="/assets/plus.svg" alt="">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      </div>
      <div class="p-[20px] relative flex items-center box-border">
        <img class="w-[20px] absolute top-[-10px] left-[-10px]" src="/assets/plus.svg" alt="">
        <img class="w-[20px] absolute top-[-10px] right-[-10px]" src="/assets/plus.svg" alt="">
        <img class="w-[20px] absolute bottom-[-10px] left-[-10px]" src="/assets/plus.svg" alt="">
        <img class="w-[20px] absolute bottom-[-10px] right-[-10px]" src="/assets/plus.svg" alt="">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      </div>
      <div class="p-[20px] relative flex items-center box-border">
        <img class="w-[20px] absolute top-[-10px] left-[-10px]" src="/assets/plus.svg" alt="">
        <img class="w-[20px] absolute top-[-10px] right-[-10px]" src="/assets/plus.svg" alt="">
        <img class="w-[20px] absolute bottom-[-10px] left-[-10px]" src="/assets/plus.svg" alt="">
        <img class="w-[20px] absolute bottom-[-10px] right-[-10px]" src="/assets/plus.svg" alt="">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      </div>
      <div class="p-[20px] relative flex items-center box-border">
        <img class="w-[20px] absolute top-[-10px] left-[-10px]" src="/assets/plus.svg" alt="">
        <img class="w-[20px] absolute top-[-10px] right-[-10px]" src="/assets/plus.svg" alt="">
        <img class="w-[20px] absolute bottom-[-10px] left-[-10px]" src="/assets/plus.svg" alt="">
        <img class="w-[20px] absolute bottom-[-10px] right-[-10px]" src="/assets/plus.svg" alt="">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      </div>
      <div class="p-[20px] relative flex items-center box-border">
        <img class="w-[20px] absolute top-[-10px] left-[-10px]" src="/assets/plus.svg" alt="">
        <img class="w-[20px] absolute top-[-10px] right-[-10px]" src="/assets/plus.svg" alt="">
        <img class="w-[20px] absolute bottom-[-10px] left-[-10px]" src="/assets/plus.svg" alt="">
        <img class="w-[20px] absolute bottom-[-10px] right-[-10px]" src="/assets/plus.svg" alt="">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      </div>
      <div class="p-[20px] relative flex items-center box-border">
        <img class="w-[20px] absolute top-[-10px] left-[-10px]" src="/assets/plus.svg" alt="">
        <img class="w-[20px] absolute top-[-10px] right-[-10px]" src="/assets/plus.svg" alt="">
        <img class="w-[20px] absolute bottom-[-10px] left-[-10px]" src="/assets/plus.svg" alt="">
        <img class="w-[20px] absolute bottom-[-10px] right-[-10px]" src="/assets/plus.svg" alt="">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      </div>
      <div class="p-[20px] relative flex items-center box-border">
        <img class="w-[20px] absolute top-[-10px] left-[-10px]" src="/assets/plus.svg" alt="">
        <img class="w-[20px] absolute top-[-10px] right-[-10px]" src="/assets/plus.svg" alt="">
        <img class="w-[20px] absolute bottom-[-10px] left-[-10px]" src="/assets/plus.svg" alt="">
        <img class="w-[20px] absolute bottom-[-10px] right-[-10px]" src="/assets/plus.svg" alt="">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      </div>
      <div class="p-[20px] relative flex items-center box-border">
        <img class="w-[20px] absolute top-[-10px] left-[-10px]" src="/assets/plus.svg" alt="">
        <img class="w-[20px] absolute top-[-10px] right-[-10px]" src="/assets/plus.svg" alt="">
        <img class="w-[20px] absolute bottom-[-10px] left-[-10px]" src="/assets/plus.svg" alt="">
        <img class="w-[20px] absolute bottom-[-10px] right-[-10px]" src="/assets/plus.svg" alt="">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      </div>
    </div>
    
    <div class="flex justify-center pb-10">
      <img class="w-[100px]" src="/assets/logo.png" alt="">
    </div>
  </section>

  <section>
    <div class="h-[3px] bg-red-900 mb-1 mt-10"></div>
    <div class="h-[10px] bg-red-800"></div>
    
    <div class="flex flex-col items-center pt-[20px] pb-[20px]">
      <img class="w-[600px] pl-[40px] pr-[40px] object-cover" src="/assets/divider.svg">
        <h1 class="py-2 text-4xl uppercase font-roboto text-red-800">Organisers</h1>
      <img class="w-[600px] pl-[40px] pr-[40px] object-cover rotate-180" src="/assets/divider.svg">
    </div>

    <div class="flex justify-center">
      <div class="flex flex-col items-center p-4 mx-4">
        <p>Organizers</p>
        <img src="/assets/wolf-school.png" alt="">
      </div>

      <div class="flex flex-col items-center p-4 mx-4">
        <p>Patrons</p>
        <div class="flex justify-center">
          <img src="/assets/cat-school.png" alt="">
          <img src="/assets/gryffin-school.png" alt="">
        </div>
      </div>

      <div class="flex flex-col items-center p-4 mx-4">
        <p>Sponsors</p>
        <img src="/assets/bear-school.png" alt="">
      </div>
    </div>

    <div class="h-[3px] bg-red-900"></div>
    <div class="h-[10px] bg-red-800 mt-1 mb-10"></div>
  </section>

  <section class="bg-gray-200">
    <div class="flex justify-center py-10">
      <img class="w-[200px]" src="/assets/logo.png" alt="">
    </div>
  </section>

  <footer>
    <div class="h-[50px] bg-red-800"></div>
  </footer>
</body>
</html>